/*stylesheet*/

body {
	margin: 0;	
	background-image: url('images/90s_background.png');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
	color: black;
	font-family: 'Roboto Mono', monospace;
	font-weight: 200;

}

h1, h2, h3, h4, p {
	margin-top: 300;
	margin-bottom: 1em;
}

h1, h2 {
	font-weight: 700;
}

#wrapper {
	margin: 2em auto;
	max-width: 2500px;
}

#main {
	background-image: url("../images/90s_background.png");
	background-size: 100%;
	margin: 1em;
	padding: 1em;
}

#sidebar { float:left; width: 150px; min-height:400px;
	background: transparent;
}


.item img {
	margin-bottom: 2em;
}

	/* Container holding the image and the text */
.container1 {
  position: relative;
  text-align: left;
  color: black;
}

/* Centered text */
.centered1 {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(20%, 100%);
}

	/* Container holding the image and the text */
.container2 {
  position: relative;
  top:-50%;
  left:20%;
  text-align: left;
  color: black;
}

/* Centered text */
.centered2 {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(110%, 50%);
}

#content {	
}

#nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0
}

#nav li {
	margin-bottom: 1em;
	
}
#nav li a: hover {
	color: white;
	text-decoration: none;
}

.quote-holder {
	height: 40vh;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 3em;
}

.quote {
	font-size: 4em;
	font-family: 'Roboto Mono', monospace; 
}


@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 0em;
		padding: 0em;
	}


	#nav ul {
		display: flex;
		justify-content: space-between;
		
}

	#nav li {
		display: inline;
		padding: .25em;
		background: white;
		margin-bottom: 0;
		
	}